
<div class="margin:auto">
    <div style="margin-top: 40px;padding:270px 100px">
        <table class= "table " >
                <thead class="table-dark text-center">
                    <tr>
                        <th scope="col" >Edad Promedio</th>
                        <th scope="col" >Desviación Estandar</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr >
                     <!-- <td scope="row" >{{} }}</td> -->
                        <td>{{average}}</td>
                        <td>{{sd}}</td>  
                    </tr>
                </tbody>
        </table>
    </div>
</div>

<div>
    <canvas id="barChart"></canvas>
</div>


