<div class="container " style="margin-top: 40px">
    <div class="row ">
      <img src="../../assets/img/intercorp_logo.png"  class=" mx-auto d-block" alt="">
    </div>
    <!-- <div class="row"> -->
        <nav class="nav nav-pills nav-fill " style="margin-top:40px;font-family: 'Lato', sans-serif;">
            <a class="nav-item btn btn-outline-secondary  " routerLink="/" >Registro de clientes</a>
            <a class="nav-item btn btn-outline-secondary" routerLink="/listClientcomponent" aria-selected="false">Lista de clientes</a>
            <a class="nav-item btn btn-outline-secondary " routerLink="/statisticscomponent" aria-selected="false">Estadística</a>
            
            <!-- <a class="nav-item nav-link disabled" routerLink="/">Disabled</a> -->
        </nav>
    <!-- </div> -->

</div>
